.wrap {
    width: 100%;
    background: black;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.li {
    margin-right: 2rem;
}