.wrap {
    width: 40%;
    background: gainsboro;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.2rem;
    box-shadow: 0.2rem 0.2rem 0.2rem gray;
}

.name {
    width: 100%;
    text-align: center;
    padding: 0.3rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1rem;
    box-sizing: border-box;
}

.links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.btn {
    width: 10rem;
    text-transform: uppercase;
    font-weight: bold;
}

.btn:hover {
    background: snow;
    color: blue;
}