* {
    margin: 0;
    padding: 0;
}

body {

}



a {
    text-decoration: none;
    color: red;
}

a:hover {
    text-decoration: underline;
}

.active {
    color: snow;
    text-decoration: underline;
    list-style: none;
}

.active > a {
    color: snow;
}


input {
    padding: 0.5rem 1rem;
}

form {
    display: flex;
    justify-content: center;
}

form button, button {
    background-color: blue;
    cursor: pointer;
    color: white;
    border: none;
    padding: 0.5rem;
}

